@body
<div data-tmpt="three">
   <p data-hook="text" data-hook-type="data" class="ArticleParagraph">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi suscipit, necessitatibus minus, in iusto tempore quasi distinctio ducimus obcaecati optio accusamus ipsum, vero voluptates veritatis perspiciatis. Repudiandae, ab. Obcaecati, nulla.</p>
</div>
@bodyend

@bodystyle
<style>
   #----- {
      width: 100%;
      margin-block: 1rem;
   }

   #----- > p {
      width: 100%;
   }
</style>
@bodystyleend