#webpage {
    min-width: 100%;
    display: flex;
}

#webpage #main {
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #080B12;
    padding: 0 1rem;
    /* padding-bottom: 0; */
    display: flex;
    justify-content: center;
}

#webpage #aside {
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #111111;
    width: 300px;
    border-left: 2px solid #2D2D2D;
}