:root {
    --_heading-font: "Maven Pro", sans-serif;
    --_heading-font2: "Maven Pro", sans-serif;
    
    --_paragraph-font: "Quicksand", sans-serif;
    --_paragraph-font2: "Quicksand", sans-serif;
    
    --_special-font: "Maven Pro", sans-serif;
    --_guest-font: "Maven Pro", sans-serif;
}