

@body
<section data-tmpt="subsection" data-living-scopes="abc def">
    <div class="upper">
        <h1 data-hook="heading" data-hook-type="data" class="Heading1">
            Something is good.
        </h1>
        <article class="Article">
            Yes, It is.
        </article>
    </div>
    <div class="lower">
        <p data-hook="review" data-hook-type="data" class="review">
            It is very helpful
        </p>
    </div>
    <div data-hook="aside" data-hook-type="cmpt" class="aside">

    </div>
</section>
@bodyend