:root {
    --screen-width--XS0: 320px;
    --screen-width--S0: 480px;
    --screen-width--M3: 552px;
    --screen-width--M2: 624px;
    --screen-width--M1: 696px;
    --screen-width--M0: 768px;
    --screen-width--L0: 1024px;
    --screen-width--XL0: 1200px;
    
}