:root {
    --width--webpage-border: 1px;
    
    --width--separator-line: 1px;

    --width--nav-sidebar--separator-line: 1px;


    --WIDTH--separatorLine1: 1px;
    --WIDTH--separatorLine2: 2px;
    
    
}