.ic-Paragraph {
    color: inherit;
    line-height: 1.8rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
}

.ic-MutedParagraph {
    color: inherit;
    opacity: 0.6;
    line-height: 1.6rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}