@body
<div data-tmpt="hook_filler" data-living-scopes="*">
    <div class="addbtn">
        <div class="addbtn--icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#000000" d="M18 12.998h-5v5a1 1 0 0 1-2 0v-5H6a1 1 0 0 1 0-2h5v-5a1 1 0 0 1 2 0v5h5a1 1 0 0 1 0 2"/></svg>
        </div>
    </div>
</div>
@bodyend

@bodystyle
<style>
    #----- {
        height: 100%;
        min-width: 100%;
        border: 2px dashed #3B3A3A;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block: 0.25rem;
    }

    #----- .addbtn {
        background-color: #00B56A;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        max-height: 80%;
        max-width: 80%;
    }

    #----- .addbtn--icon {
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
@bodystyleend

