.Bold800 {
    font-weight: 800;
}

.Bold700 {
    font-weight: 700;
}

.Bold600 {
    font-weight: 600;
}

.Bold500 {
    font-weight: 500;
}

.Bold400 {
    font-weight: 400;
}

.Bold300 {
    font-weight: 300;
}