.Btn2 {
    padding: 0.7rem 1rem;
    border: none;
    background-color: var(--COLOR--secondary);
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
    color: var(--color--webpage-bg);
    border: 2px solid var(--COLOR--secondary);
}


.Btn2:hover {
    background-color: transparent;
    color: var(--COLOR--secondary);
    /* border: 4px solid orange; */
}

.Btn2:active {
    filter: brightness(150%)
}
/* 
@media (min-width: 552px) {
    .Btn2 {
        padding: 0.7rem 1.5rem;
    }
} */

@media (hover: none) {
    .Btn2:hover,
    .Btn2:focus {
        background-color: var(--COLOR--secondary);
        color: var(--color--webpage-bg);
        /* border: 4px solid orange; */
    }
}

