@media (min-width: 320px) {
    .HideAfterScreenXS0 {
        display: none !important;
    }
}

@media (min-width: 480px) {
    .HideAfterScreenS0 {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .HideAfterScreenM0 {
        display: none !important;
    }
}

@media (min-width: 1024px) {
    .HideAfterScreenL0 {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .HideAfterScreenXL0 {
        display: none !important;
    }
}
