.MarginTop0_5{
    margin-top: 0.5rem;
}

.MarginTop1{
    margin-top: 1rem;
}

.MarginTop1_5{
    margin-top: 1.5rem;
}

.MarginTop2{
    margin-top: 2rem;
}

.MarginTop2_5{
    margin-top: 2.5rem;
}

.MarginTop3{
    margin-top: 3rem;
}

.MarginTop3_5{
    margin-top: 3.5rem;
}

.MarginTop4{
    margin-top: 4rem;
}

.MarginTop4_5{
    margin-top: 4.5rem;
}

.MarginTop5{
    margin-top: 5rem;
}

